@page "/Component_2"
@using AXOpen.Core;

<PageTitle>Documentation</PageTitle>


<button class="btn btn-outline-primary" @onclick="WriteTaskTimesToConsole">Write times to console</button>

@code
{
    #region WriteTaskDurationToConsole
    private async Task WriteTaskTimesToConsole()
    {
        await Entry.Plc.documentation.compnentOne.ExampleCylinder.WriteTaskDurationToConsole();
    }
    #endregion
    
}

<!-- <GenericComponentStatusView> -->
<AxoComponentStatusView Component="@Entry.Plc.documentation.compnentTwo.ExampleCylinder" />
<!-- </GenericComponentStatusView> -->

<!-- <GenericComponentCommandView> -->
<AxoComponentCommandView Component="@Entry.Plc.documentation.compnentTwo.ExampleCylinder" />
<!-- </GenericComponentCommandView> -->

<!-- <RccComponentStatusView> -->
<!-- This will render anything found on parameter assigned to Context  -->
<RenderableContentControl Context="@Entry.Plc.documentation.compnentTwo" Presentation="Status-Display" />
<!-- </RccComponentStatusView> -->

<!-- <RccComponentCommandView> -->
<!-- This will render anything found on parameter assigned to Context  -->
<RenderableContentControl Context="@Entry.Plc.documentation.compnentTwo" Presentation="Command-Control" />
<!-- </RccComponentCommandView> -->


