@namespace AXOpen.Core
@inherits RenderableComplexComponentBase<AxoObject>
@using AXOpen.Core

<button type="button" class="btn btn-primary" @onclick="SetCurrentObject">
    <i class="bi bi-info-square-fill"></i> 
    @Component.AttributeName
</button>



