@page "/Context/Units/StarterUnitTemplate"
@using AXOpen.Base.Dialogs;
@using AXOpen.ToolBox.Extensions
@using axosimple.server.Components;
@using AXOpen.VisualComposer;
@using AXSharp.Connector;
@using AXOpen.Core;
@using axosimple.server.Units
@using Context = axosimple.Context

@inject IAlertService _alerts
@inherits RenderableComplexComponentBase<axosimple.StarterUnitTemplate.Unit>


<div class="container text-center">
    <div class="row">
        <div class="col">
            <AuthorizeView Roles="@Roles.can_run_automat_mode">
                <Authorized>
                    <AxoTaskView Component="Unit.AutomatSequence"></AxoTaskView>
                </Authorized>
            </AuthorizeView>
        </div>
        <div class="col">
            <AuthorizeView Roles="@Roles.can_run_ground_mode">
                <Authorized>
                     <AxoTaskView Component="Unit.GroundSequence"></AxoTaskView>
                </Authorized>
            </AuthorizeView>
        </div>
        <div class="col">
            <AuthorizeView Roles="@Roles.can_run_service_mode">
                <Authorized>
                      <AxoTaskView Component="Unit.ServiceMode"></AxoTaskView>
                </Authorized>
            </AuthorizeView>
           
        </div>
    </div>
</div>

 
<Unit Component="@Services"/>

@code
{
    private StarterUnitTemplateServices Services => ContextService.Instance.StarterUnitTemplateServices;
    private axosimple.StarterUnitTemplate.Unit? Unit {
        get { return ContextService.Instance.StarterUnitTemplateServices.Unit as axosimple.StarterUnitTemplate.Unit; }
    }
}
    