@namespace AXOpen.Core
@using AXSharp.Connector;
@using Microsoft.AspNetCore.Components.Authorization
@inherits RenderableComplexComponentBase<AxoTextList>


<div class="@_cardClass">
    <div class="d-flex align-end ms-2 me-1 mt-1 mb-1">
        <span>@_text</span>
    </div>
</div>