@page "/Context/UnitTemplate"
@using AXOpen.Base.Dialogs;
@using AXOpen.ToolBox.Extensions
@using AXOpen.VisualComposer;
@using AXSharp.Connector;
@using AXOpen.Core;
@using axosimple.server.Units
@using axosimple.UnitTemplate
@using Unit = axosimple.server.Components.Unit
@inject IAlertService _alerts
@inherits RenderableComplexComponentBase<axosimple.UnitTemplate.Unit>


<div class="container text-center">
    <div class="row">
        <div class="col">
            <AuthorizeView Roles="@Roles.can_run_automat_mode">
                <Authorized>
                    <AxoTaskView Component="Unit.AutomatSequence"></AxoTaskView>
                </Authorized>
            </AuthorizeView>
        </div>
        <div class="col">
            <AuthorizeView Roles="@Roles.can_run_ground_mode">
                <Authorized>
                     <AxoTaskView Component="Unit.GroundSequence"></AxoTaskView>
                </Authorized>
            </AuthorizeView>
        </div>
        <div class="col">
            <AuthorizeView Roles="@Roles.can_run_service_mode">
                <Authorized>
                      <AxoTaskView Component="Unit.ServiceMode"></AxoTaskView>
                </Authorized>
            </AuthorizeView>
           
        </div>
    </div>
</div>

<axosimple.server.Components.Unit Component="@Unit"/>


@code
{
    private UnitServices Services => Entry.Plc.Context.UnitTemplate.Services;
    private axosimple.UnitTemplate.Unit Unit => Entry.Plc.Context.UnitTemplate;
}
