@page "/Context/Units/UnitTemplate"
@using AXOpen.Base.Dialogs;
@using AXOpen.ToolBox.Extensions
@using axosimple.server.Components;
@using AXOpen.VisualComposer;
@using AXSharp.Connector;
@using AXOpen.Core;
@inject IAlertService _alerts
@inherits RenderableComplexComponentBase<axosimple.UnitTemplate.Unit>


<div class="container text-center">
    <div class="row">
        <div class="col">
            <AuthorizeView Roles="@Roles.can_run_automat_mode">
                <Authorized>
                    <AxoTaskView Component="Unit.AutomatSequence"></AxoTaskView>
                </Authorized>
            </AuthorizeView>
        </div>
        <div class="col">
            <AuthorizeView Roles="@Roles.can_run_ground_mode">
                <Authorized>
                     <AxoTaskView Component="Unit.GroundSequence"></AxoTaskView>
                </Authorized>
            </AuthorizeView>
        </div>
        <div class="col">
            <AuthorizeView Roles="@Roles.can_run_service_mode">
                <Authorized>
                      <AxoTaskView Component="Unit.ServiceMode"></AxoTaskView>
                </Authorized>
            </AuthorizeView>
           
        </div>
    </div>
</div>

<Unit Component="Entry.Plc.Context.UnitTemplate"
                  SharedTechnologySettings="Entry.Plc.Context.UnitTemplateTechnologySettings.DataManger.Payload"
                  TechnologySettings="Entry.Plc.Context.UnitTemplateTechnologySettings.Shared.Entity"
                  DataManger="Entry.Plc.Context.UnitTemplateProcessData"
                  Data="Entry.Plc.Context.UnitTemplateProcessData.DataManger.Payload"
                  DataHeader="Entry.Plc.Context.UnitTemplateProcessData.Shared.Entity"
                  UnitComponents="Entry.Plc.Context.UnitTemplateComponents"
                  AditionalItems="new ITwinObject[] { Entry.Plc.Context.Safety.Zone_1, Entry.Plc.Context.Safety.Zone_2 }">
</Unit>

@code
{
    private axosimple.UnitTemplate.Unit Unit => Entry.Plc.Context.UnitTemplate;
}
