@namespace AXOpen.Components.Abstractions
@using AXSharp.Connector;
@using Microsoft.AspNetCore.Components.Authorization
@inherits RenderableComplexComponentBase<AxoDictionaryIdentifier>
@implements IDisposable;

<div class="d-flex align-end me-2 mt-2 mb-2">
    <div class="btn-group">
        <span>@Description</span>
    </div>
</div>