@page "/Documentation"
@using axopen_components_cognex_vision_integrations
@using AXOpen.Core;
@using AXOpen.Cognex.Vision.v_6_0_0_0;

<PageTitle>Documentation</PageTitle>

<div class="container">
    <div class="h4 pb-2 mb-4 text-primary border-bottom border-primary">
        AxoCognexVision
    </div>
    <div class="container text-left">
        <div class="col">
            //<CognexInsightRenderedView>
            <RenderableContentControl Context="@Entry.Plc.AxoCognexVisionExampleContext.MyInsight" Presentation="Command" />
            //</CognexInsightRenderedView>
        </div>
        <div class="col">
            //<CognexDatamanRenderedView>
            <RenderableContentControl Context="@Entry.Plc.AxoCognexVisionExampleContext.MyDataman1" Presentation="Command" />
            //</CognexDatamanRenderedView>
        </div>
    </div>
</div>
