@page "/DocuExamples/AxoDataDocuExamples"
@using AXOpen.Base.Dialogs;
@using AXOpen.Data;
@inject IAlertService _alertDialogService;
@inject AuthenticationStateProvider _authenticationProvider;

<h3>Editable</h3>
//<CommandView>
    <RenderableContentControl Context="Entry.Plc.AxoDataExamplesDocu.DataManager" Presentation="Command"></RenderableContentControl>
//</CommandView>

<h3>Readonly</h3>
//<DisplayView>
    <RenderableContentControl Context="Entry.Plc.AxoDataExamplesDocu.DataManager" Presentation="Status"></RenderableContentControl>
//</DisplayView>

//<CustomColumns>
    <DataExchangeView Vm="_vm" Presentation="Command">
        <ColumnData HeaderName="Some data" BindingValue="SomeData" Clickable="false" />
        <ColumnData HeaderName="A number" BindingValue="SomeNumber" Clickable="false" />
        <ColumnData HeaderName="Yes/No" BindingValue="SomeBool" Clickable="false" />
    </DataExchangeView>
//</CustomColumns>

//<CustomColumnsCode>
@code {
    private DataExchangeViewModel _vm;

    protected override void OnInitialized()
    {
        _vm = new DataExchangeViewModel { Model = Entry.Plc.AxoDataExamplesDocu.DataManager, AlertDialogService = _alertDialogService, AuthenticationProvider = _authenticationProvider };
    }
}
//</CustomColumnsCode>
