@page "/DocuExamples/AxoDataDocuExamples"
@using AXOpen.Data;
@using AXOpen.Data.ViewModels

<h3>Editable</h3>
//<CommandView>
    <RenderableContentControl Context="Entry.Plc.AxoDataExamplesDocu.DataManager" Presentation="Command"></RenderableContentControl>
//</CommandView>
<h3>Readonly</h3>
//<DisplayView>
<RenderableContentControl Context="Entry.Plc.AxoDataExamplesDocu.DataManager" Presentation="Status"></RenderableContentControl>
//</DisplayView>

//<CustomColumns>
<AxoDataView Vm="VM" Presentation="Command">
    <AxoColumnData HeaderName="Some data" BindingValue="SomeData" Clickable="false" />
    <AxoColumnData HeaderName="A number" BindingValue="SomeNumber" Clickable="false" />
    <AxoColumnData HeaderName="Yes/No" BindingValue="SomeBool" Clickable="false" />
</AxoDataView>
//</CustomColumns>

//<CustomColumnsCode>
@code {
    protected AxoDataViewModel<Pocos.AxoDataExamplesDocu.AxoProductionData, AxoDataExamplesDocu.AxoProductionData> VM { get; } =
        AxoDataViewModelCreator.Create<Pocos.AxoDataExamplesDocu.AxoProductionData, AxoDataExamplesDocu.AxoProductionData>
            (Entry.Plc.AxoDataExamplesDocu.DataManager.GetRepository<Pocos.AxoDataExamplesDocu.AxoProductionData>(),
                Entry.Plc.AxoDataExamplesDocu.DataManager);
}

//</CustomColumnsCode>
