@page "/AxoTaskDocu"
@using axopen_integrations
@using AXOpen.Core;
<h3>AxoTaskDocu</h3>

<div class="container">
    <div class="card">
        <div class="card-header d-flex">
            <div class="h4 p-0 w-100 mb-4 text-primary border-bottom border-primary">Task example.</div>
        </div>
        <div class="card card-body">
            <div class="container text-left">
                <div class="row">
                    <div class="col">
                        <div class="card ps-2">
                            <label>Displayed using AxoTaskView. Controlable as the value of Disable is FALSE"</label>
                            //<AxoTaskViewControlable>
                            <AxoTaskView Component="@Entry.Plc.AxoTaskDocu._myTask" Disable="false" />
                            //</AxoTaskViewControlable>
                        </div>
                        <div class="card ps-2">
                            <label>Displayed using AxoTaskView. Viewable only as the value of Disable is TRUE"</label>
                            //<AxoTaskViewDisplayOnly>
                            <AxoTaskView Component="@Entry.Plc.AxoTaskDocu._myTask" Disable="true" />
                            //</AxoTaskViewDisplayOnly>
                        </div>
                        <div class="card ps-2">
                            <label>Rendered by using RenderableContentControl. Controllable as the Presentation is Command</label>
                            //<RenderableContentControlCommand>
                            <RenderableContentControl Context="@Entry.Plc.AxoTaskDocu._myTask" Presentation="Command" />
                            //</RenderableContentControlCommand>
                        </div>
                        <div class="card ps-2">
                            <label>Rendered by using RenderableContentControl. Viewable only as the Presentation is Status</label>
                            //<RenderableContentControlStatus>
                            <RenderableContentControl Context="@Entry.Plc.AxoTaskDocu._myTask" Presentation="Status"/>
                            //</RenderableContentControlStatus>
                        </div>
                   </div>
                </div>
            </div>
        </div>
     </div>
</div>

