@page "/DocuExamples"
@using axopen_integrations_blazor
@using axopen_integrations

<div class=" nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AxoTaskDocu">
                <span class="oi oi-plus" aria-hidden="true"></span> AxoTaskDocu
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AxoToggleTaskDocu">
                <span class="oi oi-plus" aria-hidden="true"></span> AxoToggleTaskDocu
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AxoMomentaryTask">
                <span class="oi oi-plus" aria-hidden="true"></span> AxoMomentaryTask
            </NavLink>
        </div>
    </nav>
</div>
