@* @namespace AXOpen.Cognex.Vision.v_6_0_0_0
@using AXSharp.Connector.ValueTypes
@using AXSharp.Connector;
@using AXSharp.Presentation.Blazor.Controls.Layouts.TabControlComponents;
@inherits RenderableComplexComponentBase<AxoByteArray255>;

<div class="row ms-0">
    @Component.AttributeName
</div>
<div class="row flex-nowrap">
    @if (this.Data != null)
    {
        @foreach (IndexedData<string> item in this.Data)
        {
            <div class="col">
                <div>
                    @item?.Index
                </div>
                <div>
                    @item?.Data
                </div>
            </div>
        }
    }
</div>

 *@