@page "/Context/Units/"
@using AXSharp.Connector
@using axosimple.server.Components;
@using AXOpen.Core;
@using AXOpen.Core.Blazor.AxoAlertDialog;
@using AXOpen.Base.Dialogs
@using axosimple.BaseUnit
@inject IAlertService _alerts

<div class="container">
    <div class="row">
        @foreach (var unit in ControlledUnits)
        {
            <div class="col">
                <UnitBaseSpotView Component="unit"/>
            </div>
        }
    </div>
</div>



<div class="text-center p-2 fixed-bottom" style="z-index: 0;">
    <button type="button" class="btn btn-primary" @onclick="Automat">@Localizer["AUTOMAT"]</button>
    <button type="button" class="btn btn-primary" @onclick="Ground">@Localizer["GROUND"]</button>
    <button type="button" class="btn btn-primary" @onclick="Service">@Localizer["SERVICE"]</button>
</div>

<AxoAlertToast/>

@code
{
    private async Task Automat()
    {
        _alerts.AddAlertDialog(eAlertType.Info, Localizer["Mode change"], $"{Localizer[$"Requesting automatic mode of selected units"]}.", 1);

        var notGroundedStations = ControlledUnits.Where(p => p.GroundStatus != eAxoTaskState.Done);
        var ungroundedStationsList = string.Join(",", notGroundedStations.Select(p => p.AttributeName));

        if (notGroundedStations.Count() > 0)
        {
            _alerts.AddAlertDialog(eAlertType.Warning, Localizer["Mode change"],
                $"{Localizer[$"Cannot start automatic mode on unit(s)"]} `{ungroundedStationsList}`. Ground must be executed successfully first.", 5);
            return;
        }

        foreach (var a in ControlledUnits)
        {
            await a.Automat.ExecuteAsync();
        }

        _alerts.AddAlertDialog(eAlertType.Success, Localizer["Mode change"], $"{Localizer[$"Automatic mode of selected units"]} has been started.", 3);
    }

    private async Task Ground()
    {
        _alerts.AddAlertDialog(eAlertType.Info, Localizer["Mode change"], $"{Localizer[$"Requesting ground mode of selected units"]}.", 1);
        int expectedTimeToExecute = 20000;
        ControlledUnits.ToList().ForEach(async a => await a.Ground.ExecuteAsync());

        var sw = new System.Diagnostics.Stopwatch();
        sw.Start();
        await Task.Run(async () =>
        {
            foreach (var a in ControlledUnits)
            {
                while (a.GroundStatus != eAxoTaskState.Done 
                       && sw.ElapsedMilliseconds <= expectedTimeToExecute)
                {
                    await Task.Delay(25);
                }
            }
            
        });

        if (sw.ElapsedMilliseconds > expectedTimeToExecute)
        {
            var pp = string.Join(",\n", ControlledUnits
                .Where(p => p.GroundStatus != eAxoTaskState.Done)
                .Select(p => p.AttributeName));

            _alerts.AddAlertDialog(eAlertType.Danger,
                Localizer["Mode change"],
                $"{Localizer[$"Ground mode did not succeed on unit"]} " +
                $"{pp}", 5);

            return;
        }

        _alerts.AddAlertDialog(eAlertType.Success,
            Localizer["Mode change"], 
            $"{Localizer[$"Ground mode of selected unit(s)"]} was successfully executed.", 3);

        this.StateHasChanged();
    }

    private void Service()
    {
        ControlledUnits.ToList().ForEach(async a => await a.Service.ExecuteAsync());
        this.StateHasChanged();
    }

    private UnitBase[] ControlledUnits 
    {
        get 
        {
            return new UnitBase[]
            { 
                Entry.Plc.Context.UnitTemplate,
                Entry.Plc.Context.StarterUnitTemplate
            };
        }
    }

}
