<div class="nav-menu d-flex flex-column bg-light">
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="oi oi-menu p-2" style="font-size: 1.5rem" aria-hidden="true"></span>
    </button>

    <div class="@NavMenuCssClass collapse nav-scrollable">
        <nav class="flex-column">

            <MenuItem Name="Home" Link="/" Icon="oi oi-home" />

            <MenuItem Name="Production data" Link="/ui/EntireProductionData" Icon="oi oi-cog" />
            <MenuItem Name="Process data" Link="/ui/ProcessData" Icon="oi oi-cog" />
            <MenuItem Name="In StationData data" Link="/ui/InStationData" Icon="oi oi-cog" />


            <ExpandableMenuItem Name="CUs" Icon="oi oi-align-center">
                <MenuItem Name="I/O" Link="/ui/io" Icon="oi oi-cog" />
                <MenuItem Name="CU1" Link="/ui/Cu1" Icon="oi oi-cog" />
                <MenuItem Name="CU2" Link="/ui/Cu2" Icon="oi oi-cog" />
                <MenuItem Name="CU3" Link="/ui/Cu3" Icon="oi oi-cog" />
                <MenuItem Name="CU4" Link="/ui/Cu4" Icon="oi oi-cog" />
                <MenuItem Name="CU5" Link="/ui/Cu5" Icon="oi oi-cog" />
                <MenuItem Name="CU6" Link="/ui/Cu6" Icon="oi oi-cog" />
                <MenuItem Name="CU7" Link="/ui/Cu7" Icon="oi oi-cog" />
                <MenuItem Name="CU8" Link="/ui/Cu8" Icon="oi oi-cog" />
            </ExpandableMenuItem>

          
            <ExpandableMenuItem Name="Production" Icon="oi oi-align-center">
                <MenuItem Name="Prod. CU1" Link="/ui/ProdData_Cu1" Icon="oi oi-cog" />
                <MenuItem Name="Prod. CU2" Link="/ui/ProdData_Cu2" Icon="oi oi-cog" />
                <MenuItem Name="Prod. CU3" Link="/ui/ProdData_Cu3" Icon="oi oi-cog" />
                <MenuItem Name="Prod. CU4" Link="/ui/ProdData_Cu4" Icon="oi oi-cog" />
                <MenuItem Name="Prod. CU5" Link="/ui/ProdData_Cu5" Icon="oi oi-cog" />
                <MenuItem Name="Prod. CU6" Link="/ui/ProdData_Cu6" Icon="oi oi-cog" />
                <MenuItem Name="Prod. CU7" Link="/ui/ProdData_Cu7" Icon="oi oi-cog" />
                <MenuItem Name="Prod. CU8" Link="/ui/ProdData_Cu8" Icon="oi oi-cog" />
            </ExpandableMenuItem>


            <MenuItem Name="User administration" Link="/Security/UserAdministration" Icon="oi oi-person"></MenuItem>


        </nav>
    </div>
</div>

@code {
    [Inject]
    private NavigationManager? MyNavigationManager { get; set; }

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? null : "show";

    public void ToggleNavMenu() => collapseNavMenu = !collapseNavMenu;

    protected override void OnInitialized()
    {
        MyNavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        collapseNavMenu = true;
        StateHasChanged();
    }
}
