@page "/Units/"
@using AXSharp.Connector
@using axosimple.hmi.Components;
@using AXOpen.Core;


<div class="container">
    <div class="row">
            @foreach (var unit in ControlledUnits)
        {
            <div class="col">
                <UnitSpotView Component="unit.unit" Link="@unit.link"/>
            </div>
        }
    </div>
</div>

@code
{
    private IEnumerable<(ITwinObject unit, string link)> ControlledUnits 
    {
        get 
        { return new (ITwinObject, string)[] 
            { 
                (Entry.Plc.Context.PneumaticManipulator,"/Units/ManipulatorExample"),
                (Entry.Plc.Context.PneumaticManipulator2,"/Units/ManipulatorExample2"),          
            };
        }
    }

}
