@namespace AXOpen.Cognex.Vision.v_6_0_0_0
@using AXSharp.Connector.ValueTypes
@using AXSharp.Connector;
@using AXSharp.Presentation.Blazor.Controls.Layouts.TabControlComponents;
@inherits RenderableComplexComponentBase<AxoBoolArray8>;

<div class="row ms-0">
    @Component.AttributeName
</div>
<div class="row flex-nowrap">
    @foreach (OnlinerBool item in Component.Data)
    {
        <div class="col">
            <div >
                @item.AttributeName.Substring(item.AttributeName.IndexOf("[")+1).Replace("]","")
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" @bind="item.Cyclic" disabled>
            </div>
        </div>
    }
</div>

