@page "/AxoByteArrayExample"
@using axopen_integrations
@using AXOpen.Core;

<h3>AxoByteArrayExample</h3>

<div class="container">
    <div class="h4 pb-2 mb-4 text-primary border-bottom border-primary">
        AxoByteArrayExample
    </div>
    <div class="container text-left">
        <div class="row">
            <div class="col">
                <RenderableContentControl Context="@Entry.Plc.AxoByteArrayExampleContext.MyArray10" Presentation="Control" />
            </div>
            <div class="col">
                <RenderableContentControl Context="@Entry.Plc.AxoByteArrayExampleContext.MyArray20" Presentation="Control" />
            </div>
        </div>
    </div>
</div>

