@using AXOpen.Core;
@using AXOpen.Data
@using AXSharp.Connector

@inherits RenderableComponentBase
@inject AuthenticationStateProvider _asp

@if (ViewModel != null)
{
    <div class="border border-success p-2 mb-2">
        <DataExchangeView Vm="ViewModel" ></DataExchangeView>
    </div>
}


@code
{
    DataExchangeViewModel? ViewModel { get; set; }

    [Parameter]
    public ITwinObject DataExchange { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        this.ViewModel = new DataExchangeViewModel { Model = DataExchange, AuthenticationProvider = _asp };

    }
}