@namespace AXOpen.Core
@using AXOpen.Messaging.Static
@using AXOpen.Messaging.Static.Blazor
@using AXSharp.Connector
@inherits RenderableComplexComponentBase<AXSharp.Connector.ITwinObject>


@if(MessageProvider?.ActiveMessagesCount > 0)
{
    <button type="button" class="btn btn-@Observer?.HighestSeverityColor position-relative" data-bs-toggle="modal" data-bs-target="#alarmsviewmodal">
        @Localizer["Alarms"]
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            @MessageProvider?.ActiveMessagesCount
                <span class="visually-hidden">unread messages</span>
        </span>
    </button>
}
else
{
    <button type="button" class="btn btn-primary position-relative" data-bs-toggle="modal" data-bs-target="#alarmsviewmodal">
        @Localizer["Alarms"]
    </button>
}
        

@code {
    private AxoMessageObserver? observer;

    [Parameter]
    public AxoMessageProvider? MessageProvider { get; set; }

    private AxoMessageObserver? Observer
    {
        get
        {
            if (observer == null && MessageProvider != null)
                observer = AxoMessageObserver.Create(MessageProvider, this);

            return observer;
        } 
    }
    
    private string Disabled => MessageProvider?.ActiveMessagesCount> 0 ? "false" : "true";
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        this.StateHasChanged();
    }
    
    protected override async Task OnInitializedAsync()
    {
        if (Observer != null) await Observer.InitializeUpdate();
        await base.OnInitializedAsync();
    }
    
}
