@using AXOpen.Core;
@using AXSharp.Connector
@using AXOpen.VisualComposer;
@inherits RenderableComponentBase



<div class="container">
    <!-- TASK DETAILS -->
    <div class="row p-3">
        @if (ServiceTask?.Status.Cyclic == (ushort)eAxoTaskState.Busy)
        {
            <VisualComposerContainer Objects="Components" Id="@ServiceTask.Symbol" />
            @* <RenderableContentControl Context="Components" Presentation="Command-Control"/> *@
        }
    </div>
</div>

@code
{
    [Parameter]
    public ITwinObject[]? Components { get; set; }

    public override void AddToPolling(ITwinElement element, int pollingInterval = 250)
    {
        base.AddToPolling(ServiceTask?.Status, pollingInterval);
    }

    [Parameter]
    public AxoTask? ServiceTask { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        this.UpdateValuesOnChange(ServiceTask?.Status);
    }
}