@using AXOpen.Core;
@using AXSharp.Connector
@using AXOpen.VisualComposer;
@inherits RenderableComponentBase



<div class="container">
    <!-- TASK DETAILS -->
    <div class="row p-3">
        @if (ServiceTask?.Status.Cyclic == (ushort)eAxoTaskState.Busy)
        {
            <VisualComposerContainer Objects="@( new [] { Components })" />
            @* <RenderableContentControl Context="Components" Presentation="Command-Control"/> *@
        }
    </div>
</div>

@code
{
    [Parameter, EditorRequired]
    public ITwinObject? Components { get; set; }

    [Parameter, EditorRequired]
    public AxoTask? ServiceTask { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        this.UpdateValuesOnChange(ServiceTask?.Status);
    }
}