@inherits LayoutComponentBase

<PageTitle>clientchat</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-4 auth">
            <h2 class="mb-0">clientchat</h2>
            <LoginDisplay />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
