@namespace AXOpen.Core.Blazor.AxoDialogs
@using AXOpen.Core.Blazor.AxoDialogs.Hubs;
@using AXOpen.Dialogs;
@using AXSharp.Connector;
@inject NavigationManager _navigationManager
@inject AxoDialogContainer _dialogContainer
@implements IDisposable
<h1>cau</h1>


@if (_axoDialogProxyService?.DialogInstance != null)
{
    <RenderableContentControl Context="_axoDialogProxyService.DialogInstance"
                              Presentation="Action"/>
}




@code {

    [Parameter]
    public IEnumerable<ITwinObject> ObservedObjects { get; set; }
    /// <summary>
    /// Pass unique value of last segment of URL, which will represent dialog id corresponding to actual page url.
    /// </summary>
    [Parameter]
    public string DialogId { get; set; }
    /// <summary>
    /// Delay for dialog open, if you have problem with dialogs open on slower PC, increase dialog dealay (Default value is 500 ms).
    /// </summary>
    [Parameter]
    public int DialogOpenDelay { get; set; }

    private bool _showDialog { get; set;}


    private AxoDialogProxyService _axoDialogProxyService { get; set; }
    //private DialogClient _dialogClient { get; set; }



    protected async override Task OnInitializedAsync()
    {
        //_dialogClient = new DialogClient(_navigationManager.BaseUri);

        //if dialog id is null, set it to actual URI
        if (string.IsNullOrEmpty(DialogId))
        {
            DialogId = _navigationManager.Uri;
        }
        //try to acquire existing dialog service instance
        _axoDialogProxyService = _dialogContainer.DialogProxyServices.FirstOrDefault(x => x.DialogServiceId == DialogId);


        if (_axoDialogProxyService == null)
        {
            // if it does not exist, create new instance with observed objects and add it into container
            _axoDialogProxyService = new AxoDialogProxyService(_navigationManager.BaseUri, DialogId, ObservedObjects);
            await _dialogContainer.InitializeSignalR(_navigationManager.BaseUri);
            _dialogContainer.DialogProxyServices.Add(_axoDialogProxyService);
        }

        //if (ObservedObjects != null)
        //{
        //    //_axoDialogProxyService.SetObservedObjects(ObservedObjects);
        //    _axoDialogProxyService.SetObservedObjects(ObservedObjects);
        //}


        Console.WriteLine($"Base initialized, ID: {DialogId}");
        // _axoDialogProxyService.DialogInvoked += OnDialogInvoked;
        _axoDialogProxyService.DialogInvoked += OnDialogInvoked;
        base.OnInitialized();   
    }
    public event EventHandler<AxoDialogEventArgs> DialogInvoked2;

    public async void OnDialogInvoked(object sender, AxoDialogEventArgs e)
    {
        //signalR here????? 
        Console.WriteLine($"Invoke caught 1, ID: {DialogId}");
        await InvokeAsync(StateHasChanged);
        //await _axoDialogProxyService.DialogClient.SendDialogOpen(DialogId);
        await _dialogContainer.DialogClient.SendDialogOpen(DialogId);


    }
    
    public void Dispose()
    {
        _axoDialogProxyService.DialogInvoked -= OnDialogInvoked;
    }

}
