@inherits LayoutComponentBase

<PageTitle>ix-draft-blazor</PageTitle>

<div class="page">
    <main>
        <TopRow />
        <article class="content px-4">
            @Body
        </article>
    </main>
    <NavMenu />

    <AXSharp.Presentation.Blazor.Controls.Dialogs.AlertDialog.Toaster />

    @*<AXOpen.Core.Blazor.Dialogs.AxoAlertDialogLocator ObservedObjects="new[] {Entry.Plc.Context.PneumaticManipulator}" />*@

</div>