@inherits LayoutComponentBase
@using AXOpen.Core.Blazor.AxoAlertDialog
@using AXOpen.Core.Blazor.Dialogs

<PageTitle>ix-draft-blazor</PageTitle>

<div class="page">
    <main>
        <TopRow />
        <article class="content px-4">
            @Body
        </article>
    </main>
    <NavMenu />

   <AxoAlertToast></AxoAlertToast>

    <AxoAlertDialogLocator ObservedObjects="new[] {Entry.Plc.Context.PneumaticManipulator}" UseScopedAlerts=false/>

</div>