@inherits LayoutComponentBase

<PageTitle>ix-draft-blazor</PageTitle>

<div class="page">
    <main>
        <TopRow />
        <article class="content px-4">
            @Body
        </article>
    </main>
    <NavMenu />

   <AXOpen.Core.Blazor.AxoAlertDialog.AxoAlertToast></AXOpen.Core.Blazor.AxoAlertDialog.AxoAlertToast>

    <AXOpen.Core.Blazor.Dialogs.AxoAlertDialogLocator ObservedObjects="new[] {Entry.Plc.Context.PneumaticManipulator}" UseScopedAlerts=false></AXOpen.Core.Blazor.Dialogs.AxoAlertDialogLocator>

</div>