.nav-menu {
    position: fixed;
    width: 100%;
    max-height: 100vh;
    overflow: auto;
    padding-bottom: 1px; /* Prevent scrollbar from overlapping content */
    top: 0;
    left: 0;
}

@media (min-width: 770px) {
    .nav-menu {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .navbar-toggler {
        display: none;
    }

    .nav-menu .collapse:not(.show) {
        /* Never collapse the sidebar for wide screens */
        /*display: block;*/
    }
    
    .nav-scrollable {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}

@media (max-width: 769px) {
    .nav-menu{
        margin-top: 40px;
    }

    .navbar-toggler-side {
        display: none;
    }

    .navbar-image{
        display: none;
    }
}