<h3>InStationDataCu1</h3>

@using AXSharp.Connector
@using AXOpen.Data;
@using sandboxtest.hmi.Pages.InStationData


<StructureWithRefresh TwinObject="@Entry.Plc.Context.ProcessDataCu_1.DataManger.Set">
</StructureWithRefresh>