@page "/AxoDataRemote"
<h3>AxoDataRemote</h3>

@*<RenderableContentControl Context="Entry.Plc.MainContext.process_data_manager_remote_exec" Presentation="Command-Control"></RenderableContentControl>*@
<RenderableContentControl Context="Entry.Plc.Integrations.DM" Presentation="Command-Control"/>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Create</a>
        <RenderableContentControl Context="Entry.Plc.Integrations.DataExchangeLightTestsContext.CreateTest" Presentation="Control"/>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Read</a>
        <RenderableContentControl Context="Entry.Plc.Integrations.DataExchangeLightTestsContext.ReadTest" Presentation="Control"/>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Update</a>
        <RenderableContentControl Context="Entry.Plc.Integrations.DataExchangeLightTestsContext.UpdateTest" Presentation="Control"/>
    </li>
    <li class="nav-item">
        <a class="nav-link">Delete</a>
        <RenderableContentControl Context="Entry.Plc.Integrations.DataExchangeLightTestsContext.DeleteTest" Presentation="Control"/>
    </li>
</ul>
@code {

}
