@using axopen_integrations_blazor
@using axopen_integrations

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">integration.blazor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <label class="navbar-brand" style="font-size:16px">@Entry.Plc.Connector.SubscriptionMode </label>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Simatic-ax">
                <span class="oi oi-plus" aria-hidden="true"></span> Simatic-AX
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AxoTask">
                <span class="oi oi-plus" aria-hidden="true"></span> AxoTask
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AxoToggleTask">
                <span class="oi oi-plus" aria-hidden="true"></span> AxoToggleTask
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AxoRemoteTask">
                <span class="oi oi-plus" aria-hidden="true"></span> AxoRemoteTask
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AxoComponentExample">
                <span class="oi oi-plus" aria-hidden="true"></span> AxoComponentExample
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AxoComponentHeaderOnlyExample">
                <span class="oi oi-plus" aria-hidden="true"></span> AxoComponentHeaderOnlyExample
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AxoSequencer">
                <span class="oi oi-plus" aria-hidden="true"></span> AxoSequencer
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AxoData">
                <span class="oi oi-plus" aria-hidden="true"></span> AxoData
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AxoDataRemote">
                <span class="oi oi-plus" aria-hidden="true"></span> AxoDataRemote
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
