@using axopen_components_cognex_vision_integrations_blazor
@using axopen_components_cognex_vision_integrations

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">axopen_components_cognex_vision_integrations_blazor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <label class="navbar-brand" style="font-size:16px">@Entry.Plc.Connector.SubscriptionMode </label>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Simatic-ax">
                <span class="oi oi-plus" aria-hidden="true"></span> Simatic-AX
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AxoCognexVisionExample">
                <span class="oi oi-plus" aria-hidden="true"></span> AxoCognexVisionExample
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
