@page "/DocuExamples"
@using axopen_integrations_blazor
@using axopencore

<div class=" nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AxoTaskDocu">
                <span class="oi oi-plus" aria-hidden="true"></span> AxoTaskDocu
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AxoToggleTaskDocu">
                <span class="oi oi-plus" aria-hidden="true"></span> AxoToggleTaskDocu
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AxoMomentaryTaskDocu">
                <span class="oi oi-plus" aria-hidden="true"></span> AxoMomentaryTaskDocu
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="DocuExamples/AxoDataDocuExamples">
                <span class="oi oi-plus" aria-hidden="true"></span> AxoDataExamplesDocu
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AxoMessagingStaticDocu">
                <span class="oi oi-plus" aria-hidden="true"></span> AxoMessagingStaticDocu
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="DocuExamples/AxoDataFragmetsDocuExamples">
                <span class="oi oi-plus" aria-hidden="true"></span> AxoDataFragmetsDocuExamples
            </NavLink>
        </div>
    </nav>
</div>
