@page "/IxCoreComponentExamples"
@using intergrations
@using ix.framework.core;
<h3>IxCoreComponentExamples</h3>

<div class="container">
    <div class="h4 pb-2 mb-4 text-primary border-bottom border-primary">
        Simple IxComponent example
    </div>
    <div class="container text-left">
        <div class="row">
        <div class="col">
            <RenderableContentControl Context="@Entry.Plc.myComponentExamples.ActivateManualControl" Presentation="Control" />
        </div>
        <div class="col">
            <RenderableContentControl Context="@Entry.Plc.myComponentExamples.MyComponentWithHeaderOnly._isManuallyControllable" Presentation="Display" />
        </div>
        </div>
        <div class="col">
            <RenderableContentControl Context="@Entry.Plc.myComponentExamples.MyComponentWithHeaderOnly" Presentation="Command" />
        </div>
    </div>
   
</div>
