@page "/"
@inject BlazorAuthenticationStateProvider _basp
@inject NavigationManager _navigationManager
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<AuthorizeView>
    <h1>@context.User.Identity.Name</h1>
</AuthorizeView>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code{

    //protected override void OnAfterRender(bool firstRender)
    //{
    //    //_model = new LoginUserModel();
    //    _basp.OnDeAuthenticated += LogoutTimerExpired;

    //}

    //void LogoutTimerExpired(string name)
    //{
    //    _navigationManager.NavigateTo("", forceLoad: true);
    //}

}