@page "/ui/io"
@using AXSharp.Connector
@using AXOpen.Data;
@inherits RenderableComponentBase




<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>Inputs</h1>
            <RenderableContentControl Context="Entry.Plc.Inputs" Presentation="Control"/>
        </div>
        <div class="col">
            <h1>Outputs</h1>
            <RenderableContentControl Context="Entry.Plc.Outputs" Presentation="Control"/>
        </div>
    </div>
</div>



<button class="btn btn-primary" @onclick=SetInputs>Set inputs</button>


@functions
{
    private void SetInputs()
    {
        var inputs = Entry.Plc.Inputs.B0;
        foreach (var input in inputs)
        {
            input.Cyclic = true;
        }
    }
}