@page "/ui/manualui"
@using AXSharp.Connector
@using AXOpen.Data;
@inherits RenderableComponentBase


<h3>Control</h3>

<RenderableContentControl Context="Entry.Plc.Context.ProductionSettings" Presentation="Command" />