@page "/ui/ProcessData"
@using AXSharp.Connector
@using AXOpen.Data;
@using AXOpen.Data.ViewModels

<div class="container-fluid">
    <div class="row">
        @*<RenderableContentControl Context="@Entry.Plc.Context.ProductionSettings" Presentation="Command"></RenderableContentControl>*@
    </div>
</div>
