@page "/ui/ProcessData"
@using AXSharp.Connector
@using AXOpen.Data;

@*<div class="container-fluid">
    <div class="row">
        <DataExchangeView Vm="_vm">
            <AxoColumnData HeaderName="Comes from" BindingValue="ComesFrom" Clickable="false" />
            <AxoColumnData HeaderName="Goes to" BindingValue="GoesTo" Clickable="false" />
        </DataExchangeView>
    </div>
</div>

@code
{
    private DataExchangeViewModel _vm = new DataExchangeViewModel { Model = Entry.Plc.Context.ProcessData };
}
*@

<RenderableContentControl Context="@Entry.Plc.Context.PneumaticManipulator.ProcessData" Presentation="Command"></RenderableContentControl>

@*<RenderableContentControl Context="@Entry.Plc.Context.PneumaticManipulator.ProcessData.Shared" Presentation="Command"></RenderableContentControl>

<RenderableContentControl Context="@Entry.Plc.Context.PneumaticManipulator.ProcessData.Data" Presentation="Command"></RenderableContentControl>*@