@page "/Component_1"
@using AXOpen.Core;

<button class="btn btn-outline-primary" @onclick="WriteTaskTimesToConsole">Write times to console</button>

@code
{
    #region WriteTaskDurationToConsole
    private async Task WriteTaskTimesToConsole()
    {
        await Entry.Plc.documentation.compnentOne.AxoIndraDrive_.WriteTaskDurationToConsole();
    }
    #endregion

}

<!-- <GenericComponentStatusView> -->
<AxoComponentStatusView Component="@Entry.Plc.documentation.compnentOne.AxoIndraDrive_" />
<!-- </GenericComponentStatusView> -->

<!-- <GenericComponentCommandView> -->
<AxoComponentCommandView Component="@Entry.Plc.documentation.compnentOne.AxoIndraDrive_" />
<!-- </GenericComponentCommandView> -->

<!-- <RccComponentStatusView> -->
<!-- This will render anything found on parameter assigned to Context  -->
<RenderableContentControl Context="@Entry.Plc.documentation.compnentOne" Presentation="Status-Display" />
<!-- </RccComponentStatusView> -->


<!-- <RccComponentCommandView> -->
<!-- This will render anything found on parameter assigned to Context  -->
<RenderableContentControl Context="@Entry.Plc.documentation.compnentOne" Presentation="Command-Control" />
<!-- </RccComponentCommandView> -->



