@page "/testing"

<PageTitle>Testing</PageTitle>



<div class="col">
    <RenderableContentControl Context="@Entry.Plc.sandbox.IndraDrive._isManuallyControllable" Presentation="Display" />
</div>

<RenderableContentControl Context="@Entry.Plc.sandbox" Presentation="Command-Control" PollingInterval="100" />

