@namespace ix.framework.core
@inherits RenderableComplexComponentBase<Step>

<tr>
    <th scope="row">@Component.Description</th>
    <td>@Component.Order.Cyclic</td>
    <td>@Component.IsActive.Cyclic</td>
</tr>


@code {
    protected override void OnInitialized()
    {
        UpdateValuesOnChange(Component);
    }
}
