@inherits LayoutComponentBase
@using AXOpen.Core.Blazor.AxoAlertDialog
@using AXOpen.Core.Blazor.Dialogs

@inject IJSRuntime JSRuntime

<PageTitle>ix-draft-blazor</PageTitle>

<div class="page">
    <main>
        <TopRow />
        <article class="content px-4">
            @Body
        </article>
    </main>
    <NavMenu />

   <AxoAlertToast/>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var module = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/js/addToolTipsAndPopOvers.js");
        await module.InvokeVoidAsync("addToolTipsAndPopOvers");
    }
}