.page {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}

main {
    flex: 1;
    margin-top: 40px; /* height of collapsed navbar */
}

@media (min-width: 770px) {
    .page {
        flex-direction: row;
    }

    main {
        margin-top: 0;
    }
}
