<button class="navbar-toggler btn p-0 m-0 position-fixed top-0 start-0 w-100 bg-light" style="height: 40px;" @onclick="ToggleNavMenu">
    <span class="bi-list" style="font-size: 2rem" />
</button>

<AuthorizeView Roles="@Roles.can_access_menu">
    <Authorized>
        <div class="nav-menu d-flex flex-column bg-light" style="width: @(!collapseNavMenu ? 0 : null)">
        <div class="nav-scrollable">
            <nav class="flex-column">
                <MenuItem Name="Home" Link="/" Icon="oi oi-home"/>
                <ExpandableMenuItem Name="UI" Icon="oi oi-align-center">
                    <MenuItem Name="Units" Link="/Context/" Icon="oi oi-cog"/>
                    <MenuItem Name="I/O" Link="/Service/Io" Icon="oi oi-cog"/>
                    <MenuItem Name="Technology settings " Link="Settings/TechnologySettings" Icon="oi oi-cog"></MenuItem>
                    <MenuItem Name="Process settings" Link="Settings/ProcessSettings" Icon="oi oi-cog"></MenuItem>
                    <MenuItem Name="Process data " Link="Settings/ProcessData" Icon="oi oi-cog"></MenuItem>
                    <MenuItem Name="User administration" Link="/Security/UserAdministration" Icon="oi oi-person"></MenuItem>
                    <MenuItem Name="Settings" Link="/Settings/Settings" Icon="oi oi-cog"></MenuItem>
                </ExpandableMenuItem>
            </nav>

            <div class="navbar-image position-absolute bottom-0 mb-5 start-50 translate-middle-x">
                <a href="">
                    <img src="logo-header.svg" width="100%" class="mb-2"/>
                </a>
            </div>
        </div>
    </div>
    </Authorized>
</AuthorizeView>
<button class="navbar-toggler-side btn p-0 m-0 position-fixed bottom-0 end-0 border-0" style="width: 250px;" @onclick="ToggleNavMenu">
    <span class="bi-list" style="font-size: 2rem" />
</button>


@code {
    [Inject]
    private NavigationManager? MyNavigationManager { get; set; }

    private bool collapseNavMenu = true;

    public void ToggleNavMenu() => collapseNavMenu = !collapseNavMenu;

    protected override void OnInitialized()
    {
        MyNavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        collapseNavMenu = true;
        StateHasChanged();
    }
}
