@inject NavigationManager NavigationManager

<div class="top-row px-2">
    <a href="">
        <img src="logo-no-background.svg" width="50" />
    </a>

    <div class="ms-auto IAmHereIndicator">
        <IAmHereIndicator />
    </div>

    
    <div class="ms-5">
        <AxOpen.Security.Views.LoginDisplay />
    </div>
</div>

@code{
    private CultureInfo[] supportedCultures = new[]
    {
        new CultureInfo("en-US"),
        new CultureInfo("sk-SK"),
        new CultureInfo("es-ES")
    };

    private CultureInfo Culture
    {
        get => CultureInfo.CurrentCulture;
        set
        {
            // Prevent unnecessary navigation
            if (!Equals(CultureInfo.CurrentCulture, value) && !Equals(CultureInfo.CurrentUICulture, value))
            {
                var cultureEscaped = Uri.EscapeDataString(value.Name);
                NavigationManager.NavigateTo($"/culture?culture={cultureEscaped}", true);
            }
        }
    }

    protected override void OnInitialized()
    {
        Culture = CultureInfo.CurrentCulture;
    }
}