<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="gh-packages-inxton" value="https://nuget.pkg.github.com/inxton/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  
  <packageSourceMapping>
    <!-- Get AXSharp.* & AXOpen packages from ax -->
    <packageSource key="gh-packages-inxton">
      <package pattern="AXSharp.*"/>
      <package pattern="AXOpen.*"/>
    </packageSource>
    
    <!-- Get all other packages from nuget.org -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
