<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="ixax" value="https://nuget.pkg.github.com/yourorg/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="github">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
