<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="gh-packages-ix-ax" value="https://nuget.pkg.github.com/ix-ax/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="github">
      <package pattern="AX*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
