@page "/Service/io"
@using AXSharp.Connector
@using AXOpen.Data;
@inherits RenderableComponentBase
@inject NavigationManager NavigationManager

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>@Localizer["Inputs"]</h1>
            <RenderableContentControl Context="Entry.Plc.Inputs" Presentation="Control"/>
        </div>
        <div class="col">
            <h1>@Localizer["Outputs"]</h1>
            <RenderableContentControl Context="Entry.Plc.Outputs" Presentation="Control"/>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary m-2" @onclick=SetInputs>Set inputs</button>
        </div>
        <div class="col">
            <button class="btn btn-primary m-2" @onclick="OpenControllerDiagnostics">@Localizer["CONTROLLER DIAGNOSTICS"]</button>
        </div>
    </div>
</div>









<iframe src="http://192.168.0.4/" width="100%" height="600" frameborder="0"></iframe>


@code {
  
}
@functions
{
    private void SetInputs()
    {
        var inputs = Entry.Plc.Inputs.P0;
        foreach (var input in inputs)
        {
            input.Cyclic = true;
        }
    }

    private void OpenControllerDiagnostics()
    {
        NavigationManager.NavigateTo($"https://{Entry.TargetIp}/");
    }
}