
@page "/ixdata"
<h3>IxData</h3>




<RenderableContentControl Context="Entry.Plc.process_data_manager" Presentation="Base"></RenderableContentControl>

<RenderableContentControl Context="Entry.Plc.process_data_manager" Presentation="Command-Control"></RenderableContentControl>
@code {

}
