<div id="zoomAndMoveContainer" style="overflow: hidden; width: @Width; height: @Height" >
    <div id="zoomAndMoveItem" style="position: relative; transform: scale(1) translate(0px, 0px)">
        @ChildContent
    </div>
</div>